# Cloud Function ignores
google-backend/functions/node_modules/
google-backend/functions/lib/
google-backend/.firebaserc/

# Local MCP ignores
google-backend/functions/.env
local-mcp-server/service-account.json

# Ignore all local compiled binaries
bin/

# Health MCP Agent credentials
health-agent-credentials.json